//$global-font-family: "cursive", "Segoe UI", Arial, Roboto, sans-serif, "Helvetica Neue";
//$global-font-family: "cursive", "Times New Roman", "Microsoft JhengHei";
//$global-font-family: "IBM Plex Mono", "IBM Plex Sans", ibm-plex-sans, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
$global-font-family: "IBM Plex Mono";

$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(224, 237, 94);
$orange: rgb(212, 84, 32);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);
$mac: rgb(54, 54, 54);
$map-box-line-color: rgb(71, 184, 224)
